body{
    background-color: #789;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

#content{
    display: block;
    width: 812px;
    margin: 40px auto 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid black;
    box-shadow: 0 0 14px #123;
}

h2,p{
    margin: 0 auto 14px;
    text-align: center;
}

ul{
    display: block;
    clear: left;
    height: 82px;
    width: 812px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #fff;
    text-align: center;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 2px solid black;
}

li{
    position: relative;
    float: left;
    margin: 0;
    padding: 20px 2px 2px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 110px;
    height: 60px;
    overflow: hidden;
    background-color: #fff;
}

li:hover{
    background-color: #fcb;
    z-index: 1;
    box-shadow: 0 0 10px #789;
}

.weekdays{
    height: 20px;
    border-top: 2px solid #000;
}

.weekdays li{
    height: 16px;
    padding: 2px;
    background-color: #bcf;
}

.fill{
    background-color: #bcd;
}

.weekdays li:hover, li.fill:hover{
    background-color: #bcd;
    box-shadow: none;
}

.weekdays li:hover, .today{
    background-color: #bcf;
}

li strong{
    position: absolute;
    top: 2px;
    right: 2px;
}

li a{
    position: relative;
    display: block;
    border: 1px dotted #000;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    background-color: #def;
    text-align-last: left;
    border-radius: 6px;
    z-index: 1;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-style: italic;
}

li a:hover{
    background-color: #bcf;
    z-index: 2;
    box-shadow: 0 0 6px #789;
}

